{
	"source": "/www/arednstack/phonebook.csv",
	"olsr_file": "/tmp/run/hosts_olsr",
	"sysinfo": "http://localnode.local.mesh/cgi-bin/sysinfo.json?hosts=1",
	"server": false,
	"ldap_server": false,
	"debug": false,
	"path": "/www/arednstack",
	"formats": [
		"combined",
		"direct",
		"pbx"
	],
	"targets": [
		"generic"
	],
	"resolve": false,
	"indicate_active": true,
	"filter_inactive": false,
	"active_pfx": "*",
	"port": 8081,
	"reload_seconds": 3600,
	"ldap_port": 3890,
	"ldap_user": "aredn",
	"ldap_pwd": "aredn"
}