config phonebook main
	option source "/www/arednstack/phonebook.csv"
	option olsr_file "/tmp/run/hosts_olsr"
	option sysinfo_url "http://localnode.local.mesh/cgi-bin/sysinfo.json?hosts=1"
	option debug "false"
	option ldap_server "true"
	option path "/www/arednstack"
	list formats "combined"
	list formats "direct"
	list formats "pbx"
	list targets "generic"
	option resolve "false"
	option indicate_active "true"
	option filter_inactive "false"
	option active_pfx "*"
	option port 8081
	option reload_seconds 3600
	option ldap_port 3890
	option ldap_user "aredn"
	option ldap_pwd "aredn"
