{
	"source": "http://hb9edi-apu-1.local.mesh:8080/filerepo/Phonebook/AREDN_Phonebook.csv",
	"olsr_file": "/tmp/run/hosts_olsr.stable",
	"server": false,
	"path": "/www",
	"formats": [
		"combined",
		"direct",
		"pbx"
	],
	"targets": [
		"generic"
	],
	"resolve": false,
	"indicate_active": true,
	"filter_inactive": false,
	"port": 8080,
	"reload_seconds": 3600
}